/* mobile.css */

/* Estilos específicos para dispositivos móviles */

.mobile-menu-button {
    display: none; /* Oculta el botón de menú en pantallas grandes */
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo de las barras de menú */
.mobile-menu-button .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto; /* Espaciado entre las barras */
    transition: 0.4s; /* Transición suave */
}

/* Ajuste para el botón de menú cuando está activo */
.mobile-menu-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.mobile-menu-button.active .bar:nth-child(2) {
    opacity: 0; /* Oculta la barra del medio */
}

.mobile-menu-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 800px) {
    .mobile-menu-button {
        display: block; /* Muestra el botón de menú en dispositivos móviles */
    }

    .navbar-menu {
        display: grid; /* Oculta la lista de menú normal en dispositivos móviles */
        position: absolute;
        top: 100%; /* Ajusta la posición debajo del botón de hamburguesa */
        left: 0;
        width: 100%; /* Ocupa todo el ancho */
        background-color: #333; /* Color de fondo para el menú desplegable */
        z-index: 1000; /* Asegura que esté sobre otros elementos */
        overflow: hidden; /* Oculta cualquier desbordamiento */
        transition: max-height 0.3s ease; /* Agrega una transición suave */
        max-height: 0; /* Oculta el menú inicialmente */
    }

    .navbar-menu.active {
        max-height: 500px; /* Muestra el menú al tener la clase "active" */
    }

    .navbar-menu.active li {
        opacity: 1; /* Muestra los elementos del menú */
        transition: opacity 0.3s ease; /* Agrega una transición suave */
    }

    .quienes-somos-img-right,
    .quienes-somos-img-left {
        display: none;
    }

    .section-four {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }

    .left-half,
    .right-half {
        flex: 1;
    }

    .section-four {
        flex-direction: column; /* Cambia la dirección a columnas en dispositivos móviles */
    }

    .left-half,
    .right-half {
        width: 100%; /* Ocupa todo el ancho */
    }

    .right-half {
        order: 1; /* Cambia el orden para que la mitad derecha aparezca primero */
    }

    .contact-form button {
        width: 50%;
    }

    .contact-form {
        width: 90%;
    }

    button:focus {
        background-color: unset;
    }

    .footer {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos pequeños */
        padding: 20px;
    }

    .footer-left {
        display: flex;
        flex-direction: column; /* Coloca los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        margin-bottom: 15px;
    }

    .footer-left img {
        margin-bottom: 15px; /* Añade espacio entre la imagen y el texto */
    }

    .footer-right {
        order: 1; /* Cambia el orden para que el logo aparezca debajo */
        margin-top: 15px; /* Añade espacio entre el texto y el logo */
    }

    .footer-left-content {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .footer-right img {
        margin-right: 0;
    }

    .quienes-somos-img img {
        width: 100%;
    }

    .logo img{
        margin-left: 10%;
    }
}

/* Estilos para dispositivos con menos de 800px de ancho */
@media (max-width: 800px) {
    /* Cambia la disposición del modal a columnas */
    .modal-left,
    .modal-right {
        width: 100%; /* Ocupa el 100% del ancho del modal */
    }

    /* Ajusta el orden y la alineación de los elementos del modal */
    .modal-left {
        order: 1; /* Cambia el orden del lado izquierdo del modal */
    }

    .modal-right {
        order: 2; /* Cambia el orden del lado derecho del modal */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .close{
        left: 90%;
        top: 17%;
        background-color: #f3b01b;
        border-radius: 65px;
        width: 10%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        z-index: 100000;
    }

    .modal{
        flex-direction: column;
    }

    .modal-right h2{
        text-align: center;
    }

    .modal-right p{
        width: 100%;
    }

    .quienes-somos-contenido{
        font-size: 2.5rem;
    }
    .eventos-titulo .titulo{
        font-size: 3.5rem;
    }

    .boton-adicional {
        position: relative;
        top: 5%;
        width: 50%;
    }
}
